---
import Layout from '../layouts/Layout.astro'; // Import the Layout component, which provides the overall page structure
import Hero from '../components/Hero.astro'; // Import the Hero component, which will be displayed on this page
import Location from '../components/Location.astro'; // Import the Location component for displaying the wedding location
---

<!-- 
	Wrap the page content in the Layout component.
	- 'title="Dave & Shonda"': Passes the title prop to the Layout component, setting the page title and passing it to the Header.
-->
<Layout title="Dave & Shonda">
	<!-- 
		Main content of the page is wrapped in a <main> tag for semantic HTML structure.
		- The <main> element is used to denote the primary content of the document.
	-->
	<main>
		<!-- 
			Render the Hero component inside the <main> tag.
			The Hero component will be the main visual section at the top of the page.
		-->
		<Hero />

		<!-- 
			Render the Location component inside the <main> tag.
			The Location component will display the wedding location details.
		-->
		<Location />
	</main>
</Layout>
