---
// TODO: fix blog link once I've created it
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dave & Shonda - RSVP">
    <div class="flex justify-center mt-12">
        <div class="flex flex-col items-center text-center gap-6 max-w-xl">
            <h1 class="text-5xl font-bold">RSVP</h1>

            <h1 class="text-5xl font-bold">Please Respond by February 1, 2025</h1>

            <span class="">
                Shonda and I are excited to celebrate our special day with you. Please let us know if you can make it by February 1, 2025.
            </span>

            <div class="flex gap-4">
                <a class="btn btn-primary">
                    Send RSVP
                    <i class="fa-solid fa-arrow-right text-sm"></i>
                </a>

                <a class="btn btn-neutral">
                    See our blog
                    <i class="fa-solid fa-blog"></i>
                </a>
            </div>
        </div>
    </div>
</Layout>
