---
import Layout from "../layouts/Layout.astro";
import RSVPForm from "../components/RSVPForm.tsx";
---

<Layout title="Dave & Shonda - RSVP">
    <div class="flex justify-center mt-12">
        <div class="flex flex-col items-center text-center gap-6 max-w-xl">
            <h1 class="text-5xl font-bold font-great-vibes">RSVP</h1>

            <h1 class="text-3xl font-bold">Please Respond by February 1, 2025</h1>

            <span class="">
                Shonda and I are excited to celebrate our special day with you. Please let us know if you can make it by February 1, 2025.
            </span>

            <div class="divider"></div>

            <RSVPForm client:load />

        </div>
    </div>
</Layout>
