---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dave & Shonda - Our Story">
    <div class="flex flex-col sm:flex-row justify-center mt-12">
        <div class="flex sm:flex-row items-center text-center gap-6 max-w-xl">
            <div class="flex-1">
                <h1 class="text-5xl font-bold font-great-vibes">Shonda</h1>
            </div>
            <div class="flex-1">
                <h1 class="text-5xl font-bold font-great-vibes">Us</h1>
            </div>
            <div class="flex-1">
                <h1 class="text-5xl font-bold font-great-vibes">Dave</h1>
            </div>
        </div>
    </div>
</Layout>
