---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import ShondaImage from "../images/marius-muresan-phze0FOgQpk-unsplash.jpg";
import DaveImage from "../images/pexels-lukzy-18247648.jpg";
---

<Layout title="Dave & Shonda - Our Story">
    <div
        class="flex flex-col sm:flex-row justify-center items-start sm:items-stretch mt-12 sm:gap-12 px-4"
    >
        <div class="flex-1 flex flex-col items-center text-center">
            <h1 class="text-5xl font-bold font-great-vibes">Shonda</h1>
            <div class="divider"></div>
            <div class="card glass w-full">
                <figure>
                    <Image src={ShondaImage} alt="Shonda Arnold" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title font-great-vibes text-4xl">
                        Shonda Arnold
                    </h2>
                    <p class="prose">
                        Shonda Arnold, a proud native of Lawrence County,
                        Indiana, grew up in a close-knit Christian family where
                        love and support were abundant. From an early age,
                        Shonda shared a special bond with her mom through their
                        mutual love for softball, playing together for an
                        incredible 20 years. These experiences, along with the
                        unwavering love of her grandpa, instilled in her a deep
                        sense of compassion and a heart full of love.
                    </p>
                    <p class="prose">
                        Shonda’s greatest passion is her kids, and she finds
                        immense joy in watching them grow and learn.
                        Professionally, she works as a Home Health Aid, drawn to
                        roles where she can make a positive impact on others’
                        lives. With a long-term vision of opening a daycare
                        center, Shonda’s nurturing spirit and love for children
                        guide her every day.
                    </p>
                    <p class="prose">
                        In her free time, Shonda enjoys spending time with
                        family, relaxing at home, and cherishing the simple joys
                        of life. Growing up in Heltonville, she has fond
                        memories of playing outdoors, running barefoot through
                        the yard, and swimming in her family's pond—experiences
                        that shaped her love for nature and the outdoors.
                    </p>
                    <p class="prose">
                        Community is at the heart of who Shonda is. She finds
                        fulfillment in being a support system for those around
                        her, whether through listening, offering a helping hand,
                        or singing at church, where she connects with others on
                        a spiritual level. Her guiding values are kindness and
                        support, and she strives to share God's love in every
                        aspect of her life.
                    </p>
                    <p class="prose">
                        Shonda’s journey has been one of growth, love, and
                        resilience. She has faced life’s challenges with grace
                        and strength, always looking for the silver lining in
                        every situation. Her unwavering faith and commitment to
                        her family have been a source of inspiration for those
                        around her, and they continue to guide her on her path
                        to a brighter future.
                    </p>
                </div>
            </div>
        </div>

        <div
            class="flex-1 flex flex-col items-center text-center mt-12 sm:mt-0"
        >
            <h1 class="text-5xl font-bold font-great-vibes">Us</h1>
            <div class="divider"></div>
            <div class="card glass w-full">
                <div class="card-body">
                    <h2
                        class="card-title font-great-vibes justify-center text-4xl"
                    >
                        Our Journey Together
                    </h2>
                    <p class="prose">
                        Our love story began in a place where so many modern
                        romances start—online. We first connected on Facebook,
                        where a simple message quickly turned into long
                        conversations that revealed just how much we had in
                        common. It wasn’t long before we realized that we shared
                        the same deep, unwavering love for our children and took
                        immense pride in being the best parents we could be.
                    </p>
                    <p class="prose">
                        What truly made us fall in love was the recognition that
                        we both hold this quality so dearly. Our shared
                        commitment to raising our children with love, patience,
                        and the desire to give them amazing life experiences
                        became the foundation of our relationship. It was in
                        these moments of understanding and shared values that we
                        knew we had found something special in each other.
                    </p>
                    <p class="prose">
                        Together, we've embraced the journey of blending our
                        families and building a life filled with love,
                        adventure, and unforgettable memories. We continue to
                        grow as a couple, always supporting each other in our
                        roles as parents and partners, and finding joy in the
                        simple moments that make life so meaningful. Our journey
                        is one of deep love and dedication, and we’re excited to
                        continue writing our story together.
                    </p>
                </div>
            </div>
        </div>

        <div
            class="flex-1 flex flex-col items-center text-center mt-12 sm:mt-0"
        >
            <h1 class="text-5xl font-bold font-great-vibes">Dave</h1>
            <div class="divider"></div>
            <div class="card glass w-full">
                <figure>
                    <Image src={DaveImage} alt="David Wagner" />
                </figure>
                <div class="card-body">
                    <h2
                        class="card-title font-great-vibes justify-end text-4xl"
                    >
                        David Wagner
                    </h2>
                    <p class="prose">
                        David Wagner hails from the picturesque Pacific
                        Northwest, where he spent his formative years in Tacoma,
                        Washington. Growing up in this region, surrounded by the
                        stunning natural beauty of towering mountains and lush
                        forests, David developed a deep connection to the
                        outdoors. As a Boy Scout, he gained invaluable skills in
                        survival and teamwork, experiences that profoundly
                        shaped his character. Though life’s journey took him
                        from Washington to Indiana, Massachusetts, and Texas,
                        the Northwest’s landscapes and the lessons he learned
                        there remain integral to who he is today.
                    </p>
                    <p class="prose">
                        Professionally, David is a dedicated programmer with a
                        passion for web development. He sees programming as a
                        complex puzzle, one that he approaches with the same
                        enthusiasm others might have for games like Sudoku. His
                        love for problem-solving is matched by his culinary
                        skills; David is a self-taught cook who takes pride in
                        crafting delicious meals for his family and friends. His
                        ability to perfect a steak or prepare a dish worthy of a
                        fine dining experience has made him the go-to chef among
                        his loved ones.
                    </p>
                    <p class="prose">
                        In his free time, David channels his entrepreneurial
                        spirit into supporting local businesses and encouraging
                        others to pursue their passions. He finds joy in
                        learning new things, whether it’s delving into a
                        technical manual or exploring a new venture. His drive
                        to constantly improve himself and those around him is a
                        testament to his commitment to personal growth and
                        community.
                    </p>
                    <p class="prose">
                        David’s upbringing in Tacoma, with its mix of urban
                        challenges and natural escapes, instilled in him a
                        resilience and appreciation for the beauty of the world.
                        Despite the harsh realities of growing up in
                        gang-infested neighborhoods, he always found solace in
                        nature, which helped him stay on a positive path.
                    </p>
                    <p class="prose">
                        In his community, David is known for his unwavering
                        support of others. He relishes the opportunity to cook
                        for friends and family, often taking on a fatherly role
                        as he uplifts and encourages those around him. His deep
                        sense of service and willingness to help in times of
                        crisis make him a pillar of strength for those who know
                        him.
                    </p>
                    <p class="prose">
                        At the core of David’s life philosophy is unconditional
                        love. He believes in understanding the human condition,
                        offering empathy and support without judgment. This
                        value is central to his relationship with Shonda, who
                        knows she can always rely on David to provide stability
                        and wisdom, no matter the situation. His calm, rational
                        approach to life is a source of comfort for her, and
                        it’s one of the many reasons why their bond is so
                        strong.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
