---
import { Image } from 'astro:assets';
import OurLogo from '../images/DaveandShondaLogo2.png';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!-- Navbar -->
<nav class="navbar justify-between bg-base-300">
    <!-- Logo -->
    <a class="btn btn-ghost text-lg">
        <Image 
            alt="Logo" 
            src={OurLogo} 
            class="" 
            width={48}
            height={48}
            />
        {title}
    </a>

    <!-- Menu for mobile -->
    <div class="dropdown dropdown-end sm:hidden">
        <button class="btn btn-ghost">
            <i class="fa-solid fa-bars text-lg"></i>
        </button>

        <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-4 rounded-box shadow w-64 gap-2">
            <li><a>Our Story</a></li>
            <li><a>RSVP</a></li>
            <li>
                <h2 class="menu-title">Wedding Info</h2>
                <ul>
                    <li><a>Location</a></li>
                    <li><a>Accomodations</a></li>
                    <li><a>Food</a></li>
                </ul>
            </li>
            <a class="btn btn-primary btn-sm">
                <i class="fa-solid fa-gifts"></i>
                Registry
            </a>
        </ul>
    </div>

    <!-- Menu for desktop -->
    <div class="hidden sm:flex gap-2">
        <a class="btn btn-ghost btn-sm">
            <i class="fa-solid fa-heart text-secondary"></i>
            Our Story
        </a>

        <a class="btn btn-ghost btn-sm">
            <i class="fa-solid fa-address-book text-secondary"></i>
            RSVP
        </a>

        <!-- Dropdown menu -->
        <div class="dropdown dropdown-end">
            <button class="btn btn-ghost btn-sm">
                <i class="fa-solid fa-circle-info text-secondary"></i>
                Wedding Info
                <i class="fa-solid fa-chevron-down"></i>
            </button>

            <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
                <li><a>Location</a></li>
                <li><a>Accomodations</a></li>
                <li><a>Food</a></li>
            </ul>
        </div>

        <a class="btn btn-primary btn-sm">
            <i class="fa-solid fa-gifts"></i>
            Registry
        </a>
    </div>
</nav>