---
import { Image } from "astro:assets";
import Card from "./Card.astro";
import HeroImage from "../images/tmp_hero.jpg";
import TempCardImage from "../images/tmp_card.jpg";
---

<div class="hero min-h-screen relative">
  <Image
    src={HeroImage}
    alt="Hero background"
    class="absolute inset-0 w-full h-full object-cover"
  />
  <div class="hero-overlay bg-opacity-60 absolute inset-0"></div>
  <div class="hero-content text-neutral-content text-center relative z-10">
    <div class="max-w-md">
      <Card
        title="Join Us!"
        body="RSVP for our wedding, March 15, 2025"
        href="/rsvp"
        imageSrc={TempCardImage}
        buttonText="RSVP"
      />
    </div>
  </div>
</div>
